:root {
  --primary: #00bead;
  --background: #F2F9F9;

  --zaui-light-body-background-color: var(--background);

  --safe-top: var(--zaui-safe-area-inset-top, env(safe-area-inset-top, 30px));
  --safe-bottom: max(
    16px,
    var(--zaui-safe-area-inset-bottom, env(safe-area-inset-bottom, 30px))
  );
}
